@use '../../styles/extends' as extends;
@use '../../styles/vars' as vars;
@use '../../styles/mixins.scss' as mixins;

.isActive {
  border: 1px solid #dbdbdb;
  border-bottom-color: transparent;
  background-color: var(--back-cl);
  border-radius: 4px 4px 0 0;
  @extend %tab-set;
}

.notFirst {
  border-left-color: transparent;
}

.notLast {
  border-right-color: transparent;
}

.tabs {
  font-family: 'MacPawFixelTextRegular';
  -webkit-overflow-scrolling: touch;
  // align-items: stretch;
  // display: flex;
  // font-size: 1rem;
  // justify-content: space-between;
  // white-space: nowrap;

  // &_list {
  //   align-items: center;
  //   display: flex;
  //   flex-grow: 1;
  //   // flex-shrink: 0;
  //   justify-content: flex-start;
  // }

  &_item {
    @extend %tab-set;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: var(--items-cl);
    :hover {
      cursor: pointer;
    }
  }

  &_link {
    color: var(--tabs-text-cl);
    text-decoration: none;
  }

  &_temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &_date {
    display: grid;
    gap: 3px;
    font-size: 12px;

    &_description {
      text-transform: capitalize;
      font-size: 14px;
    }

    &_numb {
      font-family: 'MacPawFixelTextMedium';
      font-size: 20px;
    }
  }
}

.description {
  display: grid;
  align-self: center;
  margin-bottom: 3px;
  gap: 2px;

  &_text {
    font-size: 12px;
  }
}

.container {
  font-family: 'MacPawFixelTextRegular';
  overflow: hidden;

  @include mixins.onDesktop {
    max-width: 50%;
  }
}

.slider_pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &_button {
    height: 32px;
    border: 1px solid var(--borders-cl);
    width: 32px;
    cursor: pointer;

    transition: border 0.3s;
    color: var(--tabs-text-cl);
    background-color: var(--selected-odd-cl);
    
    &:disabled {
      background-color: var(--items-cl);
    }
  }
}
