:root[data-theme="light"] {
  --back-cl:#f6fff8;
  --items-cl:#eaf4f4;
  --text-color: #000;
  --selected-odd-cl: #cce3de;
  --odd-cl: #e9f1f7;
  --tabs-text-cl: #4a4a4a;
  --borders-cl: #dbdbdb;
}

:root[data-theme="dark"] {
  --text-color: #fff;
  --back-cl:#1a1b25;
  --items-cl: hsla(218, 45%, 63%, 0.10);
  --selected-odd-cl:hsla(218, 45%, 63%, 0.5);
  --odd-cl: hsla(206, 65%, 36%, 0.5);
  --tabs-text-cl: #fff;
  --borders-cl: #dbdbdb;
}
