@use "../../../styles/mixins.scss" as mixins;

.nav {
  &_list {
    display: grid;
    gap: 32px;
    justify-items: center;

    @include mixins.onTablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    @include mixins.onDesktop {
      gap: 64px;
    }

  }

  &_item {
    list-style: none;
    cursor: pointer;
  }

  &_link {
    @extend %link-style;
  }
}

%link-style {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #75767f;
}

.choosed_link {
  color: var(--text-color);
  position: relative;
  transition: 0.3s ease;

  &::after {
    animation: line 0.3s ease;
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: var(--text-color);
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
